div{
    margin: auto;
    font-family: Tahoma;
    font-weight: bolder;
    font-size: 10px;
    width: 50px;
    box-shadow: 1px 1px 1px 1px rebeccapurple;
    background-color: orange;
}
form{
    font-family: Tahoma;
    font-size: 12px;
    width: 500px;
    font-weight: bolder;
}
legend{
    padding:3px;
    background-color: orange;
    color: white;
    border:1px solid rebeccapurple;
}
fieldset{
    height: 125px;
    width: 250px;
    border:1px solid rebeccapurple;
}
input{
    border: 1px solid rebeccapurple;
    background-color:burlywood ;
}
